 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: #c5d6d6; */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario{
    border-radius: 7px;   
    color: #0a165c;
    height:400px;
    padding: 20px ;
    width: 800px;
    background-color: rgb(173, 191, 229);
}
form h1{
    margin-bottom: 20px;
    text-align: center;
}

form input {
    font-size: 18px;
    color:#0a165c;  ;
    outline: none;
    margin-left: 7px;
    padding: 6px;
    width: 300px;
    border-radius: 7px;
    height: 40px;
    border: none;
    margin-right: 10px;
}

button{
    color: #fff;
    padding: 10px;
    background-color:#0a165c; 
    border-radius: 7px;
    width: 100px;
    border: none;
    margin-left: 8px;
    cursor: pointer;
    height: 40px;
}
table{
    width: 100%;
    margin-top: 20px;
}
table th{
    padding: 10px;
    border-bottom: 1px solid #0a165c;
}
table td{
    text-align: center;
    padding: 10px;
}